@import 'setting';

.TeamSection {
  margin-top: spacing(2);
}

.TeamContainer {
  padding-bottom: spacing(2);
}

.Title {
  margin-bottom: spacing(3);
  //   margin-left: spacing(1);
}

.Body {
  margin-bottom: spacing(2);
}

.Team {
  display: block;
  margin-bottom: spacing(2);
}

.isDark {
  .Title {
    color: $color-primary-white;
  }

  &.BlockSection a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  div,
  p {
    color: $color-primary-white;
  }
}
