@import 'setting';
@import '_backline-mixins';

.ListItem {
  padding-bottom: spacing(1);
  list-style: none;
  display: inline;
}

.ListItemList {
  list-style: none;
  text-align: left;
  padding-top: spacing(0.2);
  padding-left: spacing(4);
  & > li {
    display: block;
    
    // padding-left: spacing(2);
  }

  @include mq($breakpoint-tablet) {
    padding-left: 0;
  }
}

.Title {
  display: inline;
  // vertical-align: top;
  padding-right: spacing(1);
  color: $color-primary-purple;
}

.Value {
  display: inline;
}

.TitleWrap {
  display: inline;
}

.Icon {
  margin-right: spacing(1);
  vertical-align: text-bottom;
}

.arrayItem {
  &.ListItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: spacing(5);
    text-align: center;

    @include mq($breakpoint-tablet) {
      flex-direction: row;
    }
  }

  .TitleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.isDark {
  .Value {
    color: $color-primary-white;
  }
}
