@import 'setting';

.Title {
  margin-bottom: spacing(3);
  //   margin-left: spacing(1);
}

.ContactSection {
}


.Body {
  margin-bottom: spacing(6);
}

.Venue {
  display: block;
  margin-bottom: spacing(6);

  @include mq($breakpoint-tabletLandscape) {
    display: flex;
  }
}

.MapWrapper {
  flex: 1 1 50%;
  height: 300px;
}

.BlockWrapper {
  flex: 1 1 50%;
  margin-right: spacing(3);

  @include mq($breakpoint-tabletLandscape) {
    margin-right: spacing(6);
  }
}

.isDark {
  .Title {
    color: $color-primary-white;
  }

  .BlockWrapper, .Body a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  div,
  p {
    color: $color-primary-white;
  }
}
