@import "setting";
@import "_backline-mixins";

.Cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: spacing(4) 0 spacing(6);
}

.CtaSubtitle {
  padding-bottom: spacing(3);
  text-align: center;
}

.Title {
  text-align: center;
  padding: spacing(4) 0 0;
}

.isDark {
  .CtaSubtitle,
  .CtaTitle {
    color: $color-common-white;
  }
}
