@import 'setting';

.Title {
  margin-bottom: spacing(1);
  margin-left: spacing(1);
}

.BlogPostPreview {
  margin: 0 spacing(1);
}

.Header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.CategoryFilterWrapper {
  margin: spacing(2) spacing(1) spacing(1) spacing(1);

  @include mq($breakpoint-tablet) {
    margin: spacing(2) spacing(1) spacing(2) spacing(1);
  }
}

.FilterLabel {
  margin-bottom: spacing(1);
}

.CategoryFilter {
  display: flex;
  justify-content: flex-start;
  & > div {
    cursor: pointer;
    margin-right: spacing(1);
    transition: $easing-standard $duration-short;
    &:hover {
      transform: scale(1.03);
      transition: $easing-standard $duration-short;
    }
  }
}

.isDark {
  .Title, .FilterLabel {
    color: $color-primary-white;
  }
}
