@import 'setting';

.Root {
  margin: spacing(6) 0 spacing(12);
}

.ControlIcon {
  svg {
    width: 20px !important;
  }

  svg path {
    transition: $duration-shortest $easing-standard;
    // fill: $color-hover;
  }

  &:hover svg path {
    transition: $duration-shortest $easing-standard;
    fill: $color-hover;
  }

  @include mq($breakpoint-tablet) {
    svg {
      width: 27px !important;
    }
  }
}

// Hacky, but works the best
:global {
  .slider-control-centerleft {
    left: -1rem !important;
  }
  .slider-control-centerright {
    right: -1rem !important;
  }

  @include mq($breakpoint-tablet) {
    .slider-control-centerleft {
      left: 0rem !important;
    }
    .slider-control-centerright {
      right: 0rem !important;
    }
  }
}
