@import 'setting';

.Root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.Caption {
  padding-top: spacing(1);
}

.surround {
  &.Root {
    border-radius: $radius-small;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: spacing(1);
  }

  .Caption {
    padding: spacing(1);
  }
}

.fixed {
  &.Media {
    height: 100%;
    overflow: hidden;
  }
}

.isDark {
  &.Root {
    background-color: $color-primary-black-light
  }
  .Caption {
    color: $color-primary-white;
  }
}
