@import 'setting';

.Root {
  display: block;
  color: inherit;
  text-decoration: none;
  border-radius: $radius-small;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: spacing(1);
  margin: spacing(1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.20);
  }
}

.Caption {
  padding-top: spacing(1);
}

.fixed {
  &.Media {
    height: 100%;
    overflow: hidden;
  }
}

.isDark {
  .Caption {
    color: $color-primary-white;
  }
}
