@import 'setting';

.Root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.Caption {
  padding-top: spacing(1);
  color: $color-primary-black;
}

.surround {
  &.Root {
    border-radius: $radius-small;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.16);
  }

  .Caption {
    padding: spacing(1);
  }
}

.fixed {
  &.Media {
    height: 100%;
    overflow: hidden;
  }
}

.isDark {
  &.surround {
    background-color: $color-primary-black-light;
  }

  .Caption {
    color: $color-primary-white;
  }
}
