@import 'setting';

.Root {
  margin: spacing(6) 0 spacing(12);
}

.ControlIcon {
  svg path {
    transition: $duration-shortest $easing-standard;
  }

  &:hover svg path {
    transition: $duration-shortest $easing-standard;
    fill: $color-hover;
  }
}

// Hacky, but works the best
:global {
  .slider-control-bottomleft {
    right: 4rem;
    left: unset !important;
    bottom: spacing(-4) !important;
  }
  .slider-control-bottomright {
    bottom: spacing(-4) !important;
  }
}
