@import 'setting';
@import '_backline-mixins';

.Header {
  background-color: $color-common-grey95;
}

.HeaderInner {
  display: flex;
  align-items: center;
  padding-top: spacing(2);
  padding-bottom: spacing(2);

  @include mq($breakpoint-tablet) {
    justify-content: center;
  }
}

.HeaderInnerPrimary {
  flex: 1 1 auto;

  @include mq($breakpoint-tablet) {
    flex: 0 0 auto;
  }
}

.HeaderLogo {
  max-width: 200px;

  @include mq($breakpoint-desktop) {
    max-width: none;
  }
}

.HeaderToggle {
  @include mq($breakpoint-tablet) {
    display: none;
  }
}

.HeaderNavigation {
  display: none;

  &.isActive {
    display: block;
  }

  @include mq($breakpoint-tablet) {
    display: block !important;
  }
}
