@import 'setting';
@import '_backline-mixins';

.Seperator {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.SeperatorImg {
  width: 100%;
}

.OverlayStrip {
  position: absolute;
  height: 2vh;
  width: 100%;
}
