@import '_backline-mixins';
@import 'setting';

.TeamCard {
  text-align: center;
  padding: spacing(4) spacing(4) spacing(6);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.16);
}

.Title {
  padding-top: spacing(1);
  padding-bottom: spacing(1);
  text-transform: uppercase;
}

.Description {
  padding-bottom: spacing(3);
}

.TeamDescription {
  padding-bottom: spacing(2);
}

.MoreBtn {
  color: $color-primary-black;
  padding: spacing(2) spacing(3);
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;

  & > a {
    &:not(:last-child) {
      padding-right: spacing(2);
    }
  }
}

.Logo {
  & > div {
    max-width: 200px;
    margin: 0 auto;
  }
}

.isDark {
  .Title,
  .Description {
    color: $color-primary-white;
  }
}
