@import 'setting';

.Grid {
  display: block;
  grid-auto-columns: 1fr;
  margin: auto;
  width: 100%;
  margin: 0.625rem 0 0.625rem 0;
  grid-gap: 0.325em;

  & > div {
    margin-bottom: 0.225em;
  }

  @include mq($breakpoint-mobileLandscape) {
    display: grid;

    & > div {
      margin-bottom: auto;
    }
  }
}

.autoRows {
  grid-auto-columns: 1fr;
}
