@import 'setting';

.TeamsSection {
  
}

.Title {
  margin-bottom: spacing(4);
  margin-top: spacing(2);
}

.TeamGrid {
  display: block;
  margin-top: spacing(4);
}

.TeamCard {
  min-width: 350px;
  flex: 1 1 30%;
}

.Team {
  gap: spacing(4);
  @include mq($breakpoint-tablet) {
    display: flex;
  }

  padding-bottom: spacing(6);
}

.MapWrapper {
  flex: 1 1;
  width: 100%;
  border-radius: $radius-small;
  height: 300px;
  flex: 1 1 70%;

  @include mq($breakpoint-tablet) {
    height: unset;
  }
}

.Map {
  border-radius: $radius-small;
  max-height: 400px;
}

.isDark {
  .Title {
    color: $color-primary-white;
  }

  &.BlockSection a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  div,
  p {
    color: $color-primary-white;
  }
}
