@import 'setting';

.TeamsSection {
  
}

.Title {
  margin-bottom: spacing(4);
  margin-top: spacing(2);
}

.TeamGrid {
  display: block;
  margin-top: spacing(4);
}

.TeamCard {
  min-width: 350px;
  flex: 1 1 40%;
  padding: spacing(6) spacing(4);
}

.Team {
  gap: spacing(4);
  border-radius: $radius-small;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.16);
  padding: spacing(0) spacing(0) spacing(0) 0;
  @include mq($breakpoint-tablet) {
    display: flex;
  }

  margin-bottom: spacing(6);
}

.MapWrapper {
  flex: 1 1;
  width: 100%;
  border-radius: $radius-small;
  height: 300px;
  flex: 1 1 70%;

  @include mq($breakpoint-tablet) {
    height: unset;
  }
}

.Map {
  border-radius: 0 $radius-small $radius-small 0;
  max-height: 400px;
}

.isDark {
  .Team {
    background-color: $color-primary-black-light;
  }
  .Title {
    color: $color-primary-white;
  }

  &.BlockSection a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  div,
  p {
    color: $color-primary-white;
  }
}
