@import 'setting';
@import '_backline-mixins';

.Container {
  width: 100%;
  clear: both;
}

.noClearfix {
  clear: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.gutter {
  padding-left: spacing(2);
  padding-right: spacing(2);

  @include mq($breakpoint-desktop) {
    padding-left: spacing(4);
    padding-right: spacing(4);
  }
}

// SIZES
.spacious {
  padding-top: spacing(6);
  padding-bottom: spacing(12);
}

.fullHeight {
  height: 100vh;
}

.wide {
  max-width: spacing(190);

  @include mq($breakpoint-full + 100) {
    max-width: 80vw;
  }
}

.large {
  max-width: spacing(180);
}

.medium {
  max-width: spacing(100);
}

.small {
  max-width: spacing(60);
}

.sweepRight {
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;

  @include mq($breakpoint-tabletLandscape) {
    margin-left: calc((100% - 1680px) / 2);
    margin-right: unset;
    max-width: unset;
  }
}

.hideOverflow {
  overflow: hidden;
}
