@import 'setting';
@import '_backline-mixins';

.Container {
  width: 100%;
  clear: both;
}

.noClearfix {
  clear: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.gutter {
  padding-left: spacing(2);
  padding-right: spacing(2);

  @include mq($breakpoint-desktop) {
    padding-left: spacing(4);
    padding-right: spacing(4);
  }
}

// SIZES
.spacious {
  padding-top: spacing(2);
  padding-bottom: spacing(8);
}

.withNavSpace {
  margin-top: spacing(6);
}

.wide {
  max-width: spacing(190);

  @include mq($breakpoint-full + 100) {
    max-width: 80vw;
  }
}

.large {
  max-width: spacing(180);
}

.medium {
  max-width: spacing(140);
}

.small {
  max-width: spacing(60);
}

.hideOverflow {
  overflow: hidden;
}
