@import 'setting';

.base {
  font-size: spacing(2.25);
  line-height: spacing(3);
  min-height: spacing(2);

  @include mq($breakpoint-tablet) {
    font-size: spacing(2.5);
    line-height: spacing(3.5);
  }

  @include mq($breakpoint-desktop) {
    font-size: spacing(3.2);
    line-height: spacing(4.2);
  }
}

.baseLarge {
  font-size: spacing(2.5);
  line-height: spacing(3);
  font-weight: 500;
  @include mq($breakpoint-tablet) {
    font-size: spacing(3.5);
    line-height: spacing(4.5);
  }

  @include mq($breakpoint-desktop) {
    font-size: spacing(4.5);
    line-height: spacing(5.5);
  }
}

.qoute {
  display: block;
  position: relative;
  margin: spacing(1) 0;
  padding: spacing(1) 0;
  margin-left: 2.2rem;
  font-style: italic;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2.2rem;
    width: 1.3rem;
    height: 100%;
    background-image: url('/asset/overlay2.svg');
  }
}

.isDark {
  &.qoute {
    color: $color-primary-white;
    &::before {
      background-image: url('/asset/overlay2white.svg');
    }
  }
}
