@import 'setting';

// .Type {}

.display2 {
  font-size: spacing(3); // 24
  line-height: spacing(4); // 32
  font-weight: 900;
  text-transform: uppercase;
}

.display1 {
  font-size: spacing(2.5); // 20
  line-height: spacing(4); // 28
  font-weight: 900;
  text-transform: uppercase;
}

.title2 {
  font-weight: bold;
  font-family: $font-heading;

  font-size: spacing(2.5); // 24
  line-height: spacing(3); // 32

  @include mq($breakpoint-mobileLandscape) {
    font-size: spacing(4);
    line-height: spacing(5);
  }

  @include mq($breakpoint-tablet) {
    font-size: spacing(5); // 40
    line-height: spacing(6); // 48
  }

  @include mq($breakpoint-desktop) {
    font-size: spacing(6); // 48
    line-height: spacing(7); // 56
  }

  @include mq($breakpoint-desktopLarge) {
    font-size: spacing(8); // 64
    line-height: spacing(9); // 72
  }
}

.title {
  font-family: $font-body;
  font-size: spacing(3); // 34
  line-height: spacing(4); // 40
  font-weight: 500;

  @include mq($breakpoint-desktop) {
    font-size: spacing(3.5); // 34
    line-height: spacing(4.5); // 40
    font-weight: 500;
  }

  @include mq($breakpoint-desktopMedium) {
    font-size: spacing(4); // 34
    line-height: spacing(5); // 40
    font-weight: 500;
  }
}

.title1 {
  font-family: $font-body;
  font-size: spacing(3.25);
  line-height: spacing(4.25);
  font-weight: 500;

  @include mq($breakpoint-tablet) {
    font-size: spacing(4.25); // 40
    line-height: spacing(5.25); // 48
  }

  @include mq($breakpoint-desktop) {
    font-size: spacing(5.25); // 42
    line-height: spacing(6.25); // 50
  }
}

.subtitle {
  font-size: spacing(2);
  line-height: spacing(2.5);

  font-weight: 500;
  font-family: $font-body;

  @include mq($breakpoint-mobile-large) {
    font-size: spacing(3);
    line-height: spacing(4);
  }

  @include mq($breakpoint-mobileLandscape) {
    font-size: spacing(3);
    line-height: spacing(4);
  }

  @include mq($breakpoint-tablet) {
    font-size: spacing(3); // 40
    line-height: spacing(4); // 48
  }

  @include mq($breakpoint-desktop) {
    font-size: spacing(4); // 48
    line-height: spacing(5); // 56
  }

  @include mq($breakpoint-desktopLarge) {
    font-size: spacing(5);
    line-height: spacing(6);
  }
}

.menu {
  font-weight: 500;
  font-size: spacing(2); // 16
  line-height: spacing(3); // 24
}

.base {
  font-size: spacing(2.25);
  line-height: spacing(3);

  @include mq($breakpoint-tablet) {
    font-size: spacing(2.5);
    line-height: spacing(3.5);
  }

  @include mq($breakpoint-desktop) {
    font-size: spacing(3);
    line-height: spacing(4);
  }
}

.small {
  font-size: spacing(2.2); // 14
  line-height: spacing(2.4); // 16
}

.italic {
  font-style: italic;
}

// Modifiers

.tight {
  line-height: 1;
}
