@import '_backline-mixins';
@import 'setting';
@import '_backline-normalize';
@import url('https://use.typekit.net/rnl5jdi.css');

//TODO:
// MAKE SURE ALL ELEMENTS ARE SELECTABLE

:global {
  body {
    font-size: spacing(2); // 16
    line-height: spacing(3); // 24
    font-weight: normal;
    font-family: $font-body;
  }

  button {
    color: inherit;
    text-decoration: none;
    
    &:focus,
    &:hover {
      color: inherit;
      outline: 0;
    }

    &:active {
      color: inherit;
    }
  }

  a {
    color: $color-primary-purple;
    text-decoration: none;
    &:focus,
    &:hover {
      color: $color-primary-red;
      outline: 0;
    }

    &:active {
      color: $color-primary-red;
    }
  }

  // Gracefully add Typekit fonts
  .wf-loading {
    opacity: 0;
  }

  .wf-active {
    -webkit-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    opacity: 1;
  }

  .wf-inactive {
    opacity: 1;
  }
}
