@import 'setting';
@import '_backline-mixins';

//TODO
// Flex madness

.DescriptionCards {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacing(6) 0;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: spacing(8);
}

.Button {
  color: $color-primary-black;
  font-size: spacing(3);
  font-weight: spacing(4);
  font-weight: 500;
}
