@import 'setting';

.Title {
  margin-bottom: spacing(3);
  //   margin-left: spacing(1);
}

.ApplySection {
  // max-width: 0;
}


.ApplyButton {
  margin-top: spacing(2);
}

.isDark {
  .Title {
    color: $color-primary-white;
  }

  &.BlockSection a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  div,
  p {
    color: $color-primary-white;
  }
}
