@import "setting";

.Title {
  margin-bottom: spacing(3);
  //   margin-left: spacing(1);
}

.ApplySection {
  // max-width: 0;
}

.ApplyButton {
  margin-top: spacing(2);
}

.AreaOfInterest {
  @include mq($breakpoint-tabletLandscape) {
    max-width: 60%;
  }
}

.Form {
  display: none;
}

.Wrapper {
  @include mq($breakpoint-tabletLandscape) {
    form {
      max-width: 60%;
      // margin-left: auto;
      margin-right: auto;
    }
  }
}

.isDark {
  .Title {
    color: $color-primary-white;
  }

  &.BlockSection a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  input,
  textarea,
  select {
    background-color: $color-primary-black-light;
    color: $color-primary-white;
    border: $color-primary-black-light;
  }

  div,
  p {
    color: $color-primary-white;
  }
}

.visible {
  display: block;
}
