@import 'setting';
@import '_backline-mixins';

.ButtonStandard {
  padding: spacing(4) spacing(8);
  line-height: spacing(2.5);
  border-radius: $radius-standard;
  background-color: $color-primary-yellow;
  color: $color-primary-black;
  &:hover,
  &:focus,
  &:active {
    background-color: $color-primary-red;
    color: $color-primary-white;
  }
}

.disabled {
  background-color: $color-common-grey50;
}

.large {
  padding: spacing(4) spacing(10);
  font-size: 2rem;
  font-weight: 500;
}
