@import 'setting';
@import '_backline-mixins';

.ButtonWrapper {
  padding: 3px;
  position: relative;
  background: linear-gradient(
    to right,
    $color-primary-yellow,
    $color-primary-red,
    $color-primary-purple
  );
  border-radius: $radius-standard + 2;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    transition: $duration-short $easing-standard;
  }
}

.ButtonStandard {
  padding: spacing(2) spacing(3);
  line-height: spacing(2.5);
  border-radius: $radius-standard;
  background-color: $color-primary-white;
  color: $color-common-black;
  transition: $duration-short $easing-standard;
}

.large {
  .ButtonStandard {
    padding: spacing(2) spacing(6);
  }
}

.disabled {
  background-color: $color-common-grey50;
}

.isDark {
  .ButtonStandard {
    background-color: $color-primary-black;
    color: $color-primary-white;
  }
}
