@import 'setting';
@import '_backline-mixins';

.Wrapper {
  position: relative;
}

.Footer {
  padding: spacing(10) spacing(5) spacing(10);
  position: relative;
  display: flex;
  align-content: center;
  overflow: hidden;
  color: $color-primary-black;
  transition: $duration-shortest;
  min-height: 60vh;
  // background-color: $color-primary-grey-light;
  a:hover {
    color: $color-hover;
    transition: $duration-shortest;
  }

  @include mq($breakpoint-tabletLandscape) {
    padding-top: spacing(10);
    padding-bottom: spacing(20);
  }

  @include mq($breakpoint-desktop) {
    padding-top: spacing(10);
    padding-bottom: spacing(30);
  }
}

.Container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($breakpoint-tablet) {
    flex-direction: row;
  }
}

.SponsorGrid {
  padding: spacing(6) 0 spacing(4);
  // background-color: $color-primary-grey-light;
  position: relative;
}

.Seperator {
  // background-color: $color-primary-grey-light;
}

.Branding {
  flex: 1 0 200px;
  margin-right: spacing(6);
}

.Logo {
  display: block;
  img {
    width: auto;
    object-fit: contain;
    height: 100px;
    transition: $duration-short $easing-standard;

    &:hover {
      transform: scale(1.1);
      transition: $duration-short $easing-standard;
    }

    @include mq($breakpoint-tablet) {
      height: 150px;
    }
  }
}

.Social {
  display: flex;
  flex-direction: row;
  padding: spacing(4) 0;

  a,
  button {
    padding-right: spacing(2);
    &:hover {
      transform: scale(1.03);
      transition: $easing-standard $duration-short;
    }
  }

  // a {
  //   text-decoration: none;
  //   color: $color-primary-black;
  //   padding-bottom: spacing(2);
  //   display: flex;
  //   align-items: center;

  //   span {
  //     padding-right: spacing(5);
  //   }
  // }
}

.LinkListWrapper {
  // flex: 1 1 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mq($breakpoint-tabletLandscape) {
    flex: 1 1 60%;
    flex-direction: row;
  }
}

.Waves {
  position: absolute;
  width: 100%;
  bottom: -45vw;
  z-index: 0;
  pointer-events: none;
}

.LinkList {
  display: flex;
  flex-direction: column;
  padding: 0 0 spacing(4) 0;

  a {
    text-decoration: none;
    color: $color-primary-black;
    padding-bottom: spacing(2);
  }

  &::after {
    content: '_';
    color: inherit;
  }

  @include mq($breakpoint-tabletLandscape) {
    &::after {
      content: none;
    }
  }
}

.isDark {
  .Link {
    color: $color-primary-white;
  }
  // .SponsorGrid,
  // .Seperator {
  //   background-color: $color-primary-black-light;
  // }
}
