@import 'setting';

.Root {
  margin: spacing(6) 0 spacing(12);
}

.ControlIcon {
  svg path {
    transition: $duration-shortest $easing-standard;
    // fill: $color-hover;
  }

  &:hover svg path {
    transition: $duration-shortest $easing-standard;
    fill: $color-hover;
  }
}

// Hacky, but works the best
:global {
  // .slider-control-bottomleft {
  //   right: 4rem;
  //   left: unset !important;
  //   // bottom: spacing(-6) !important;
  // }
  // .slider-control-bottomright {
  //   // bottom: spacing(-6) !important;
  // }

  .slider-control-topleft {
    right: 4rem;
    left: unset !important;
    top: spacing(-10) !important;
  }
  .slider-control-topright {
    top: spacing(-10) !important;
  }
}
