@import 'setting';

.Root {
  margin: spacing(4) 0 spacing(3);

  @include mq($breakpoint-tablet) {
    margin: spacing(4) 0 spacing(12);
  }

  // li {
  //   display: inline-flex;
  //   align-items: center;
  // }

  li:before {
    display: none;
  }
}

:glo

.ControlIcon {
  svg {
    width: 20px !important;
  }
  
  svg path {
    transition: $duration-shortest $easing-standard;
    // fill: $color-hover;
  }

  &:hover svg path {
    transition: $duration-shortest $easing-standard;
    fill: $color-hover;
  }

  @include mq($breakpoint-tablet) {
    svg {
      width: 27px !important;
    }
  }
}

// Hacky, but works the best
:global {
  // .slider-control-bottomleft {
  //   right: 4rem;
  //   left: unset !important;
  //   // bottom: spacing(-6) !important;
  // }
  // .slider-control-bottomright {
  //   // bottom: spacing(-6) !important;
  // }

  .slider-control-topleft {
    right: 3rem;
    left: unset !important;
    top: spacing(-6) !important;
  }
  .slider-control-topright {
    top: spacing(-6) !important;
  }

  @include mq($breakpoint-tablet) {
    .slider-control-topleft {
      right: 4rem;
    }
    
    .slider-control-topleft,
    .slider-control-topright {
      top: spacing(-7) !important;
    }
  }
}
