@import 'setting';

.Carousel {
  position: relative;
}

.Slider {
    overflow: visible;
}

.Slide {
  margin: 20px 10px;
  &:first-child {
    margin-left: 0;
  }
}

.ControlIcon {
  svg path {
    transition: $duration-shortest $easing-standard;
    // fill: $color-hover;
  }

  &:hover svg path {
    transition: $duration-shortest $easing-standard;
    fill: $color-hover;
  }
}

.Next {
  position: absolute;
  top: spacing(-3.5);
  right: spacing(2);

  @include mq($breakpoint-tablet) {
    right: spacing(1);
    top: spacing(-5);
  }
}

.Back {
    position: absolute;
    top: spacing(-3.5);
    right: spacing(9);
  
    @include mq($breakpoint-tablet) {
      right: spacing(7);
      top: spacing(-5);
    }
  }
