@import 'setting';

.Title {
  margin-bottom: spacing(3);
  //   margin-left: spacing(1);
}

.isDark {
  .Title {
    color: $color-primary-white;
  }

  .PageSection a {
    color: $color-primary-yellow;
    &:hover {
      color: $color-primary-red;
    }
  }

  div,
  p {
    color: $color-primary-white;
  }
}
