@import '_backline-mixins';
@import 'setting';

.DescriptionCard {
  text-align: center;
  max-width: 300px;
  padding: spacing(2) spacing(3) spacing(6);
}

.Icon {
  margin-bottom: spacing(4);

  svg path {
    fill: $color-primary-yellow;
  }
}

.Icon svg {
  height: 100px !important;
}

.Tilte {
  padding-bottom: spacing(1);
}

@include mq($breakpoint-desktop) {
  .DescriptionCard {
    max-width: 350px;
  }

  .Icon svg {
    height: 130px !important;
  }
}

@include mq($breakpoint-desktopMedium) {
  .DescriptionCard {
    max-width: 400px;
  }

  .Icon svg {
    height: 145px !important;
  }
}

.isDark {
  .Title,
  .Description {
    color: $color-primary-white;
  }
}
