.OverlayLink {
  color: inherit;
  text-decoration: inherit;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.debug {
  &::after {
    background: lime;
    opacity: 0.4;
  }
}
