@import 'setting';
@import '_backline-mixins';

// .Description {}

.DescriptionTerm {
  display: flex;
  align-items: center;
  line-height: spacing(2);
}

.DescriptionIcon {
  margin-right: spacing(1);
}

.DescriptionDetails {
  font-weight: bold;
}
